@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
    padding: 20px;
    overflow-x: hidden;
}

.container {
    width: 400px;
    height: auto;
    background: #fff;
    padding: 25px;
    overflow: hidden;
    border-radius: 20px;
}

.search-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.search-box .map-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8acce7;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.search-box .map-icon i {
    color: #06283D;
    font-size: 18px;
    line-height: 1;
}

.search-box input {
    color: #06283D;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid #06283D;
}

.search-box input::placeholder {
    font-size: 18px;
    font-weight: 800;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8acce7;
    border-radius: 50%;
    color: #06283D;
    transition: 0.4s ease;
    cursor: pointer;
    flex-shrink: 0;
}

.search-box button:hover {
    color: #fff;
    background: #06283D;
}

.search-box button i {
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
}

.result-box {
    margin-top: 25px;
    display: none;
    height: auto;
    width: 100%;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather-box img {
    width: 40%;
}

.weather-box .temperature {
    position: relative;
    color: #06283D;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 20px;
}

.weather-box .description {
    color: #06283D;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 10px;
}

.weather-details .humidity {
    justify-content: flex-start;
}

.weather-details .wind {
    justify-content: flex-end;
}

.weather-details i {
    color: #06283D;
    font-size: 20px;
    margin-right: 12px;
    margin-top: 6px;
}

.weather-details span {
    color: #06283D;
    font-size: 18px;
    font-weight: 800;
}

.weather-details p {
    color: #06283D;
    font-size: 12px;
    font-weight: 500;
}

.not-found {
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 40%;
}

.not-found p {
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box,
.weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}